.text-link {
    font-weight: 500;
    text-decoration: inherit;
    cursor: pointer;
    font-size: 1rem;
    color: steelblue;
}

.text-link:hover {
    text-decoration: underline;
    cursor: pointer;
}
