.signup,
.login,
.forgotPw,
.resetPw,
.updatePw {
    padding-top: 3rem;
}


.login__title {
    font-size: 2.625rem;
    font-weight: 600;
    margin-top: 80px;
}

.login__fields {
    margin-top: 5%;
}

.login__footer {
    margin-top: 5%;
    font-size: var(--small-font-size);
}

.password__validation {
    font-size: var(--small-font-size);
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.signup__validation {
    font-weight: 600;
    font-size: 1rem;
    padding: 0.2rem 0;
}

.resetPw {
    display: flex;
    align-items: center;
    justify-content: center;
}
