ul {
  list-style: none;
}

.section__title {
  font-size: 2.25rem;
  font-weight: 600;
}

.section__subtitle {
  display: block;
  font-size: 1rem;
  margin-bottom: 2%;
}

.sub-section__title {
  font-size: 1.75rem;
  font-weight: 600;
}

.section__title,
.section__subtitle,
.sub-section__title {
  text-align: left;
}

/* layout */
.container {
  width: 80%;
  margin: auto;
}
