@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color: #213547;
  background-color: #fcfbf8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: black;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: inherit;
  color: black;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
}

h2 {
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}


ul {
  list-style: none;
}

button {
  cursor: pointer;
}


.section-title {
  font-size: 2.25rem;
  font-weight: 600;
}

.section-subtitle {
  display: block;
  font-size: 1rem;
  margin-bottom: 24px;
}

.sub-section-title {
  font-size: 1.75rem;
  font-weight: 600;
}

.section-title,
.section-subtitle,
.sub-section-title {
  text-align: left;
}

/* layout */
.container {
  width: 80%;
  margin: auto;
}
