.mobile-hero-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 48px;
    text-align: center;
}

.mobile-hero-container img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.hero-button-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
}
