.notFound {
    padding-top: 6rem;
    min-height: calc(80vh - 3rem);
}

.notFound__content {
    margin-top: 3rem;
    font-size: calc(1.75rem / 1.6);
}

.notFound__list {
    padding-left: 3%;
    list-style-type: disc;
    width: 95%;
}

li.notFound__listItems:not(:last-child) {
    margin-bottom: 1rem;
}
