.approval-page-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 48px auto;
}

.approval-page-title {
    font-size: 1.75rem;
    font-weight: 600;
}

.approval-page-subtitle {
    font-size: 1rem;
    margin-bottom: 24px;
}
