/* biome-ignore-all lint/suspicious/noUnknownAtRules: tailwind directives */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@source "../../../../packages/ui/src/**/*.tsx";

/* implementation detail for this app */
@layer base {
	* {
		font-family: "Plus Jakarta Sans", sans-serif;
	}
}

@theme {
	--animate-fade-in: fadeIn 0.2s cubic-bezier(0.25, 1, 0.5, 1) both;

	@keyframes fadeIn {
		from {
			transform: translateY(8px);
			opacity: 0;
		}
		to {
			transform: translateY(0);
			opacity: 1;
		}
	}
}
