alembic==1.13.1
asyncpg==0.29.0
fastapi==0.109.0
fastapi-pagination==0.12.5
passlib==1.7.4
python-dotenv==1.0.0
python-jose==3.3.0
uvicorn==0.26.0
sqlalchemy==2.0.25
sqlalchemy[mypy]==2.0.25
pytest==7.4.0
pytest-asyncio==0.21.0
httpx==0.25.2
requests==2.31.0
pydantic==1.10.11
pydantic[email]==1.10.11
python-multipart
types-requests==2.31.0.0
PyJWT==2.7.0
slowapi
boto3==1.28.1
mailtrap
prometheus-fastapi-instrumentator==6.0.0
moto[s3]==4.2.13
requests-toolbelt==1.0.0
fpdf==1.7.2
pytz==2023.3.post1

# GOOGLE DEPENDENCIES
google-analytics-data==0.17.2
google-api-core==2.12.0
google-api-python-client==2.104.0
google-auth==2.23.3
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
googleapis-common-protos==1.61.0

# LINTING
mypy==1.3.0
ruff==0.1.13

# REQUIRED FOR LINTING SQLALCHEMY
types-python-jose
types-passlib

# dev tooling
pre-commit==3.5.0
coverage

# celery
celery==5.3.6
psycopg==3.1.17
psycopg-binary==3.1.17
redis==4.5.5
