alembic==1.13.1
asyncpg==0.29.0
fastapi[all]==0.109.2
fastapi-pagination==0.12.15
passlib==1.7.4
python-dotenv==1.0.1
python-jose==3.3.0
uvicorn==0.27.1
sqlalchemy[mypy]==2.0.27
pytest==7.4.0
pytest-asyncio==0.21.0
httpx==0.26.0
requests==2.31.0
pydantic[email]==2.6.1
types-requests==2.31.0.0
PyJWT==2.7.0
slowapi==0.1.9
boto3==1.28.1
mailtrap==2.0.1
prometheus-fastapi-instrumentator==6.0.0
moto[s3]==4.2.13
requests-toolbelt==1.0.0
fpdf==1.7.2
pytz==2024.1

# GOOGLE DEPENDENCIES
google-analytics-data==0.17.2
google-api-core==2.12.0
google-api-python-client==2.104.0
google-auth==2.23.3
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
googleapis-common-protos==1.61.0

# LINTING
mypy==1.8.0
ruff==0.2.1

# REQUIRED FOR LINTING SQLALCHEMY
types-python-jose
types-passlib

# dev tooling
pre-commit==3.6.1
coverage==7.4.1

# celery
celery==5.3.6
psycopg==3.1.17
psycopg-binary==3.1.17
redis==4.5.5
