.file-select-container.desktop {
    width: 60vw;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    border: 2px #c3c3c3 dashed;
    border-radius: 12px;
}

.file-select-container.mobile {
    width: 0;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    border: none;
    border-radius: 12px;
}

.upload-notes-description.desktop {
    margin: 16px;
}

.upload-notes-description.mobile {
    margin: 16px;
    display: none;
}

.upload-file-html-button {
    display: none;
}
