.account-details-container {
    width: 75%;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

.account-details-container a.account-details-title {
    font-weight: bold;
}

.account-details-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.account-divider {
    width: 100%;
    border-top: 2px solid black;
    margin: 2vh 0;
}

.account-divider-mobile {
    width: 100%;
    border-top: 2px solid black;
    margin: 5vh 0;
}

.change-email-button-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.verified-status.verified {
    color: green;
}

.verified-status.unverified {
    color: red;
}


.update-details-grid {
    display: grid;
    grid-template-columns: 0.2fr auto;
    grid-column-gap: 5%;
    grid-row-gap: 2vh;
    align-items: center;
    margin-top: 2vh;
    width: 90%;
}

.update-details-grid-mobile {
    display: grid;
    grid-template-columns: 0.2fr auto;
    grid-column-gap: 5%;
    grid-row-gap: 2vh;
    align-items: center;
    margin-top: 3vh;
}


.password-validation-container {
    display: flex;
    margin-top: 5vh;
}

.change-email-button-container {
    grid-area: span 2 / span 2;
    display: flex;
    justify-content: center;
    margin-top: 16px;

}

.change-password-button-container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

@media screen and (min-width: 913px) {
    .account-details-main {
        margin: 2rem;
    }
}
