.upload {
    padding-top: calc(var(--header-height) + 3rem);
    min-height: calc(80vh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 !important;
}

.upload__multiContainer{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    gap: 2vh;
}