.upload-note-div {
    display: flex;
    flex-direction: row;
}

.grid-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 0 !important;
    gap: 2%;
    justify-content: space-between;
    margin: 1%;
    position: relative;
}

.grid-container-collapsed {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0 !important;
    gap: 2%;
    justify-content: space-between;
    margin: 1%;
    position: relative;
}

.expand-icon {
    position: absolute;
    right: 8px;
}

.collapse-icon {
    position: absolute;
    top: 8px;
    right: 8px;
}

.document-name-grid-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 0 !important;
    margin-bottom: 12px !important;
}

.document-name-text-field {
    flex-grow: 1
}

.combobox-container-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 0 !important;
    gap: 1vh;
    justify-content: space-evenly;
}

.combobox-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0 !important;
    gap: 1vh;
    justify-content: space-evenly;
}

.note-combobox {
    flex: 1 1 0;
    width: 100%;
    margin-bottom: 12px;
}


.upload-note-div  .file-name-expanded {
    font-weight: 500;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}


@media screen and (max-width: 600px) {
    .upload-note-div .file-name-expanded {
        margin-bottom: 4%;
    }
}



.upload-note-div  .file-name-collapsed {
    font-weight: 500;
    margin-left: 3%;
}


.upload-note-div .error-text {
    font-size: 100%;
}


.collapsible-grid {
    padding: 0 2% 2% 2%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.outer-note-box {
    display: flex;
    flex-direction: row;
}

.inner-note-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1
}

.note-form-box {
    margin-left: 2%;
}

.delete-icon-desktop {
    display: inline-block;
}

.delete-icon-mobile {
    flex-grow: 0;
    display: none;
}

.upload-item-options {
  margin: 3px !important;
  background-color: transparent !important;
  border-radius: 8px !important;
  box-sizing: border-box !important;
  outline: 1px solid transparent !important;
  transition: all 0.2s ease !important;
}

.upload-item-options:hover {
  background-color: #e9e9e9 !important;
  outline-color: transparent;
}
