.account-form-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.account-form-button-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.account-form-title {
    font-size: 2.625rem;
    font-weight: 600;
    margin-top: 48px;
}

.account-form-subtitle {
    font-size: 1rem;
    margin-bottom: 24px;
}

.account-form-text-field {
    margin-top: 16px;
}

.account-form-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 24px auto;
}

.password-validation-container {
    display: flex;
}

@media screen and (max-width: 913px) {
    .account-form-container {
        width: 75%;
    }
}
