.faq {
    padding-top: 6rem;

}

.faq__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 5rem;
    justify-content: center;
    margin-top: 64px;

}

.faq__qn {
    font-size: 1rem;
    font-weight: 600;
}

.faq__ans {
    font-size: 1rem;
    color: #575f73;
    margin-top: 0.5rem;
}

@media screen and (max-width: 1080px) {
    .faq__container {
        padding-top: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }
}
