.landing-page {
    margin-top: 5%;
}

.outer-hero-container {
    display: flex;
    flex-direction: column;
    gap: 128px;
}

.inner-hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 70%;
}

.left-hero, .right-hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 35%;
}


.left-hero h1 {
    font-size: 64px;
    margin: 20px 0;
}

.right-hero h1 {
    font-size: 64px;
    margin: 0 20px;
}

.left-hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.right-hero p {
    font-size: 18px;
    margin: 20px 20px 30px;
}

.right-hero button {
    margin: 0 20px;
}

.left-hero img, .right-hero img {
    max-width: 100%;
    height: auto;
}


/* FAQ css */

.faq {
    padding-top: calc(var(--header-height) + 2rem);
}

.faq__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 5rem;
    justify-content: center;

}

.faq__qn {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.faq__ans {
    font-size: var(--normal-font-size);
    color: #575f73;
    margin-top: 0.5rem;
}

@media screen and (max-width: 768px) {

    .inner-hero-container {
        flex-direction: column;
        align-items: center;
    }

    .left-hero, .right-hero {
        width: 100%;
        text-align: center;
    }

    .left-hero h1, .right-hero h1 {
        font-size: 32px;
    }

    .left-hero p, .right-hero p {
        font-size: 16px;
    }

    .left-hero img, .right-hero img {
        width: 100%;
        max-width: 80%;
    }
}


@media screen and (max-width: 1080px) {
    .faq__container {
        padding-top: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }
}
