.home {
    padding-top: calc(var(--header-height) + 3rem);
}

.library,
.faq {
<<<<<<< HEAD
    padding-top: calc(var(--header-height) + 2rem);
=======
    padding-top: calc(var(--header-height) + 1rem);
}

.library__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
>>>>>>> bbe493b (new FE (desktop))
}

.faq__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 5rem;
    justify-content: center;
}

.faq__qn {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.faq__ans {
    font-size: var(--normal-font-size);
    color: #575f73;
    margin-top: 0.5rem;
}

<<<<<<< HEAD
@media screen and (max-width: 1080px) {
    .faq__container {
        padding-top: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }
=======
.faq__link {
    font-weight: var(--font-semi-bold);
    color: steelblue;
}

.faq__link:hover {
    text-decoration: underline;
>>>>>>> bbe493b (new FE (desktop))
}