.footer {
    background-color: var(--container-color);
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-top: calc(var(--header-height) + 3rem);
    display: flex;
    padding: 2rem 0;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__section {
    margin: 0 1rem;
}

@media (min-width: 600px) {
    .footer__section {
        margin: 0 3rem;
    }
}


.footer__sectionContainer {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.footer__logoImg {
    width: 5%;
    margin: 0 auto;
}

.footer__title {
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-1);
    color: var(--title-color);
}

.footer__content {
    font-size:  var(--small-font-size);
}

.footer__content:hover {
    text-decoration: underline;
}

.footer__copy {
    display: block;
    margin-top: 1.5rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}
