.footer {
    background-color: #FFFFFF;
    margin-top: 3rem;
    border-top: 1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.footer-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px auto;
    gap: 2rem 5rem;
}

.footer-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem 5rem;
}

.footer-logo-section {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.footer-logo-image {
    width: 128px;
    height: 128px;
}

.footer-title {
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer-content:hover {
    text-decoration: underline;
}

.footer-copyright-section {
    padding-top: 1.5rem;
    text-align: center;
    font-size: 0.875rem;
}

@media screen and (max-width: 913px) {
    .footer-logo-image {
        width: 64px;
        height: 64px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}
