.footer {
    background-color: #FFFFFF;
    margin-top: 3rem;
    border-top: 1px solid rgba(0,0,0,0.1);
    display: flex;
    padding: 2rem 0;
}

.footer__logo {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.footer__logo__image {
    width: 128px;
    height: 128px;
}


.footer__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    }

.footer__column {
    display: flex;
    align-items: flex-start;
}

.footer__title {
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer__content {
}

.footer__content:hover {
    text-decoration: underline;
}

.footer__copyright {
    display: block;
    padding-top: 1.5rem;
    text-align: center;
    font-size: 0.875rem;
}

.ads__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

@media screen and (max-width: 913px) {
    .footer__section {
        gap: 1rem;
    }

    .footer__logo__image {
        width: 64px;
        height: 64px;
    }
}
