.footer {
    background-color: var(--container-color);
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-top: calc(var(--header-height) + 3rem);
    display: flex;
    padding: 2rem 0;
}

.footer__logo {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.footer__logo__image {
    width: 128px;
    height: 128px;
}


.footer__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    }

.footer__column {
    display: flex;
    align-items: flex-start;
}

.footer__title {
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-1);
    color: var(--title-color);
}

.footer__content {
    font-size:  var(--small-font-size);
}

.footer__content:hover {
    text-decoration: underline;
}

.footer__copyright {
    display: block;
    padding-top: 1.5rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}

@media screen and (max-width: 768px) {
    .footer__section {
        gap: 1rem;
    }

    .footer__logo__image {
        width: 64px;
        height: 64px;
    }
}
