.header {
    width: 80%;
    margin: 24px auto;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    grid-template-columns: auto auto;
}

.header-items-section {
    display: flex;
    column-gap: 2rem;
}

.header-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
}

.header-logo {
    height: 128px;
    width: 128px;
}


.active-link,
.header-links:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
}

@media screen and (max-width: 913px) {
    .header-logo {
        width: 64px;
        height: 64px;
    }
}
