.faq-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 64px auto;
    gap: 2rem 5rem;
}

.faq-title {
    font-size: 2.25rem;
    font-weight: 600;
}

.faq-description {
    display: block;
    font-size: 1rem;
}

.faq-qna-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 5rem;
}

.faq-question {
    font-size: 1rem;
    font-weight: 600;

}

.faq-answer {
    font-size: 1rem;
    color: #575f73;
    margin-top: 0.5rem;
}

@media screen and (max-width: 913px) {
    .faq-qna-section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem 5rem;
    }
}
