.upload-page-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 48px auto auto;
}

.upload-multi-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin-top: 3rem;
}

.upload-page-title {
    font-size: 1.75rem;
    font-weight: 600;
}

.upload-page-subtitle {
    font-size: 1rem;
    margin-bottom: 24px;
    text-align: center;
}

.upload-notes-submit-button {
    border-color: transparent;
    background-color: rgb(49, 130, 206);
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    width: 96px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-notes-submit-button:disabled {
    cursor: not-allowed;
}
