.library-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 48px auto;
}

.library-title {
    font-size: 1.75rem;
    font-weight: 600;
}

.library-subtitle {
    font-size: 1rem;
    margin-bottom: 24px;
}
