.MuiInputBase-input  {
    height: var(--tiny-font-size) !important;
}
.MuiFormLabel-root {
    font-size: var(--small-font-size) !important;
    text-align: center !important;
    top: -8% !important;
}
.MuiGrid-root {
    width: 100% !important;
    text-align: center !important;
}

.table__header {
    font-weight: 600 !important;
}

.table__header,
.table__content {
    padding-left: 0 !important;
}

.table__content1 {
    margin: auto 0;
    font-weight: 600;
}

.table__notes-card {
    padding: 0.3rem !important;
    display: flex;
    justify-content: center !important;
}

@media screen and (max-width: 1080px) {
    .MuiGrid-root {
        padding-right: 0 !important;
    }
}
