/* biome-ignore-all lint/suspicious/noUnknownAtRules: tailwind directives */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@source "../../../../node_modules/@shared/ui/**/*.tsx";

/* implementation detail for this app */
@layer base {
	* {
		font-family: "Plus Jakarta Sans", sans-serif;
	}
}

@theme {
	--animate-fade-in: fadeIn 0.2s ease-in both;

	@keyframes fadeIn {
		from {
			transform: translateY(10px);
			opacity: 0;
		}
		to {
			transform: translateY(0);
			opacity: 1;
		}
	}
}
