.mobile-upload-note-container {
    width: 90vw;
}

.file-name-header-container {
    margin-left: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.file-name-header-container a {
    max-width: 80%;
    word-wrap: break-word;
    display: inline-block;
}

.single-note-container {
    border: 1px solid black;
    border-radius: 10px;
}

.combobox-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-combobox {
    width: 90%;
    margin-bottom: 8px;
}

.upload-note-container  .file-name-expanded {
    font-weight: 500;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 24px;
}

.upload-note-container  .file-name-collapsed {
    font-weight: 500;
    margin-left: 3%;
}

.collapsible-grid {
    padding: 0 2% 2% 2%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.upload-item-options {
    margin: 3px !important;
    background-color: transparent !important;
    border-radius: 8px !important;
    box-sizing: border-box !important;
    outline: 1px solid transparent !important;
    transition: all 0.2s ease !important;
}

.upload-item-options:hover {
    background-color: #e9e9e9 !important;
    outline-color: transparent;
}
